<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        {{#linkTo index.home class="brand"}}App{{/linkTo}}
        {{ view view.NavbarView }}
    </div>
</div>

<h2>Welcome to Ember.js</h2>

{{outlet}}
