<div class="post-item">
  <div class="row">
    <div class="feat-img">
      <img src="http://lorempixel.com/350/325/sports/1" title="featured image" />
    </div><!-- end featured image -->
    <div class="details span6">
      <h1>
        {{#linkTo post this}}{{title}}{{/linkTo}}
      </h1>
      <h2><small class="muted">{{published}}</small></h2>
      <p>{{body}}</p>
    </div>
  </div>
</div>
